.nav-wrapper {
  background: #ccc;
  height: 4.5rem !important;
}

.nav-text {
  color: #000000;
}

nav ul li a {
  color: antiquewhite !important;
  font-size: 20px;
}

.nav-image {
  margin: 15px;
  width: 12%;
}

.welcome {
  text-align: center;
}

i {
  margin: auto !important;
  text-align: center;
  line-height: 0 !important;
  height: 0 !important;
}

.waggle {
cursor: pointer;
border-radius: 15px 0 0 15px !important;
background-image: linear-gradient(to right, #ff8a00, #da1b60);
margin-top: 4px;
margin-right: 7px;
height: 4rem;
width: 5rem;
animation: fade 3s 6.5s forwards ease infinite;
animation-iteration-count: 5;
}

@keyframes fade {
  15% {
    opacity: 0.10;
  }

  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.page {
width: 80%;
margin-left: auto;
margin-right: auto;
}

nav {
display: block;
}

nav ul li a {
color: #000;
font-size: 20px;
text-decoration: none !important;

&:hover {
background: rgba(255, 255, 255, .6);
border-radius: 15px 0 0 15px;
}
}
