.nav-wrapper {
  background: #ccc;
  height: 4.5rem !important;
}

.nav-text {
  color: #000000;
}

nav ul li a {
  color: antiquewhite !important;
  font-size: 20px;
}

.nav-image {
  margin: 15px;
  width: 12%;
}

.welcome {
  text-align: center;
}

button {
  cursor: pointer;
}

.page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: block;
}

nav ul li a {
  color: #000;
  font-size: 20px;
  text-decoration: none !important;

  &:hover {
    background: rgba(255, 255, 255, .6);
    border-radius: 15px 0 0 15px;
  }
}

.user {
  list-style-type: none;
  border-radius: 15px 0 0 15px !important;
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  margin-top: 1px;
}
