<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="logo">
      <img src="../assets/images/ayo.png" class="nav-image" alt="">
    </a>
    <ul id="nav-mobile nav-text" class="right hide-on-med-and-down">
      <li>
        <button [routerLink]="['/user']" class="waggle">
            <i class="fas fa-user prefix white-text"></i>
        </button>
      </li>

      <li *ngIf="user_token">
        <a [routerLink]="['/user']" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
