.nav-wrapper {
  background: #ccc;
}

.nav-text {
  color: #000000;
}

nav ul li a {
  color: #000;
  font-size: 20px;
}

.nav-image {
  margin: 3px;
  width: 12%;
}

.welcome {
  text-align: center;
}

button {
  cursor: pointer;
}

.page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.page-footer {
  background: #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000000;
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

footer .container .row {
  color: #000;
}

nav ul li a {
  color: #000;
  font-size: 20px;
  text-decoration: none !important;
}
