<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="logo">
      <img src="../assets/images/upl.png" class="nav-image" alt="">
    </a>
    <ul id="nav-mobile nav-text" class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['/staff']">
          Staff
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="row page">
  <div class="col s12">

  </div>
</div>

<router-outlet></router-outlet>

<p></p>

<footer class="page-footer fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">UPL Staff MGT</h5>
          <p class="grey-text text-lighten-4">
            Welcome to Upperlink Staff Management Application.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/staff">Staff</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Designed by Iruobe Ayomide | Upperlink Staff MGT
      </div>
    </div>
  </footer>
