.staff {
  margin-bottom: -10px;
  background-size: 100%;
  width: 100%;
  height: auto !important;
  background: url("../images/middle-cover.jpg");
  padding-bottom: 1px;
}
.staffTab {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-top: 20px;
}

.th-buttons {
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: #000;
}

.createButton {
  float: right;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px dashed #ccc;
  background: rgba(242,242,242,0.5);
  border-radius:5px;
  cursor: pointer;

  &:hover {
    padding: 15px;
  }
}

.viewButton {
  padding: 5px;
  border-radius:5px;
  cursor: pointer;

  &:hover {
    padding: 10px;
  }
}

.toggleButton {
  padding: 5px;
  border-radius:5px;
  cursor: pointer;

  &:hover {
    padding: 10px;
  }
}

.deleteButton {
  padding: 5px;
  border-radius:5px;
  cursor: pointer;

  &:hover {
    padding: 10px;
  }
}

.staff-row {
  text-align: center;
}

.modal {
  background: none !important;
  box-shadow: none !important;
  width: 80%;
  z-index: 1000000000000000000000000000000;
}

.modal-content {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.modal .modal-content {
  padding: 10px !important;
  margin-top: -30px;
}

.modal-dialog {
  width: 90%;
  height: 70%;
}

.modal-footer {
  background: none !important;
}

label {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.md-form i {
  font-size: 20px;
  margin-top: 20px;
}

.fa-times-circle {
  font-weight: 400;
  font-size: 30px;
  margin-top: 20px;
}

.fa-times-circle:hover {
  color: red;
}

.dt-buttons .dataTables_length label {
  text-align: left;
  white-space: nowrap;
  font-size: 15px !important;
}

.form-group {
  margin-bottom: 10px !important;
}

.modal-header {
  padding: 10px !important;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  position: relative;
  padding: 10px !important;
}

.modal-header .close {
  margin-top: -20px !important;
}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: -1px;
  background: indianred;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 3.25em !important;
  border: none;
  border-radius: 1.3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}


.swal2-cancel .btn .btn-danger {
  margin-right: 5px !important;
}

tbody {
  background: rgba(255, 255, 255, .97);
}
.margins {
  margin-bottom: 13.5rem;
  padding: 46px;
}
.prefix ~ label {
  margin-left: 0 !important;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 1.5rem !important;
  width: 94% !important;
  font-size: 16px;
  margin: -25px 0 8px 28px !important;
  padding: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
